// 
// Colors
// 

//- Override and add to color system
$light-blue: #00c3e3;
$light-red: #ff4554;
$light-grey: #989898;
$grey: #414548;
$red: #e60012;

//- Override primary color
$primary: $light-red;
$secondary: $light-blue;

// The contrast ratio to reach against white, to determine if color changes from "light" to "dark". Acceptable values for WCAG 2.0 are 3, 4.5 and 7.
// See https://www.w3.org/TR/WCAG20/#visual-audio-contrast-contrast
$min-contrast-ratio: 2.4;
