// 
// Typography
// 

$font-family-sans-serif: "Ropa Sans",
sans-serif;

$headings-font-family: $font-family-sans-serif;



$headings-font-weight: 400;
$font-style-normal: normal;
$font-style-italic: italic;
